.scrollable{
    background-image: url('../images/blurred-secondary.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: 0 0 10px 1px rgba(10, 25, 34,0.7) inset;
    overflow-x: scroll;
}

.alarm-main {
    min-height: 100%;
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(10, 25, 34,0.7) inset;
    overflow: hidden;
}

.alarm-btn-add {
    margin-top: 0.7em; 
    margin-right: 0.3em;
    width: 100%;
    text-align: right;
    float: right;
}

.alarm-main > .time {
    display: inline-block;
    font-size: 5em;
}

.alarm-main > .date {
    margin: 0em 1em 1em 1em;
    padding: 0.6em 1em;
    font-size: 1.5em;
    background-color: rgba(10, 25, 34, 0.2);
    border-radius: 2em;
}

.alarm-card{
    min-height: 100%;
    border: 1px solid rgba(10, 25, 34, 0.2);
    border-top: none;
    border-left: none;
    text-align: center;
}

.alarm-card > .time {
    margin-top: 0.5em;
    margin-bottom: 0.75em; 
    font-size: 3.5em;
}

.alarm-card > .details {
    margin: 1em 1em;
    padding: 0.5em;
    background-color: rgba(10, 25, 34, 0.2);
    border-radius: 2em;
}

.no-alarms{
    text-align: center; 
    margin: auto auto;
}

.alarm-list-img{
    color: rgba(10, 25, 34, 0.2);
}
.alarm-list-img:hover{
    color: white;
}

.alarm-form {
    width: 100%;
}

.content {
    height: calc(100% - 1em);
    text-align: center;
    margin: 0.5em;
    margin-bottom: 0;
    overflow: scroll;
}

.alarm-form > .content > header {
    height: 13vh;
} 

.progress-container {
    margin-bottom: 0.3em; 
}

.progress-label {
    margin: 0.5em;
    text-align: left;
    font-size: 0.7em;
}
.progress {
    margin: 0.5em;
    border-radius: 0.2em;
    height: 0.2em;
    background-color: rgba(10, 25, 34, 0.2);
}
.progress-bar {
     background-color: white;
}

.pac-container {
    height: 10%;
    overflow: hidden;
}

.slider-container {
    margin-top: 2em;
}

.alarm-list {
    overflow: scroll
}

.fade-out {
    transition: visibility 0.15s linear, opacity 0.15s linear;
    opacity: 1;
    visibility: visible;
}
    
.fade-out-active {
        opacity: 0;
        visibility: hidden;
}

.details-answer {
    color: rgba(10, 25, 34, 0.7);
    margin: 0.3em;
}

.fa-trash-o:hover {
    transform: scale(1.5);
}

.fa-trash-o:active {
    transform: scale(1)
}

.fa-pencil-square-o { /*hidden until functionality added*/
    visibility: hidden;
}

