* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   }

html,body {
    font-family: 'Roboto', 'Noto Sans', 'Open Sans', sans-serif;
    font-weight: 200;
    color: white;
    background-color: black;
   }

.bg-image{
    background-image: url('../images/wallpaper_2.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 0 500px 20px rgba(10, 25, 34,0.7) inset;
    height: 60vh;
}

.row{
    height: 40vh;
}

.app-logo {
    float: left;
    margin-top: 0.3em;
}

.app-location-container{
    margin-top: 0.5em;
    float: right;
}

.app-location {
    display: block;
    text-align: center;
}

.app-location-icon:before{
    width: 1.2em;
    display: block;
    text-align: center;
}